<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/images/logo.png" style="width: 50px">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color: bisque">
  <h1 class="experience" style="margin-top: -0.1em;"><strong> Expérience</strong></h1>
  <p> 

    Entant qu'etudiant en developpement mobile,j'ai participé activement à <br>
    un projet de creation d'un site e-commerce au cours de mon module de <br>
     developpement mobile.Mon role principale été d'implémenter les <br>
      fonctionnalité front-end en utilisant html,css et javascript.
    
  </p>
  <div class="vertical-line">
  <h3 class="resume-title"><strong>Sumary</strong></h3>
  <div class="resume-item pb-0">
    <div class="serve">
    <h4>Ndeye Fatoumata Faye</h4>
    <p class="info">3 ans d'experience dans le monde informatique <br>
      Etudiante en licence 3 en informatique <br>
      developpement d'application web mobile
    </p>
    <p>
    </p><ul>
      <li>saint-louis</li>
      <li>78 456 78 91</li>
      <li>ndeyefatoumatafay@gmail.com</li>
    </ul>
    <p></p>
  </div>
  <h3 class="resume-title"><strong> Education</strong></h3>
  <div class="resume-item">
    <h4>LICENCE EN INFORMATIQUE</h4>
    <h5 style="color: aqua;">2022 - 2023</h5>
  </div> 
  <div class="resume-item">
    <h4>BACCALAUREAT L2</h4>
    <h5 style="color: aqua;">2019 - 2020</h5>
  </div>
  <div class="resume-item">
    <h4>BFEM</h4>
    <h5 style="color: aqua;">2016 - 2017</h5>
  </div>

</div>
</div>
<div class="vertical-line1">
  <h3 class="resume-title"><strong>Experience Professionnelle</strong></h3>
  <div class="resume-item">
    <h4><strong>Stage en developpement Mobile</strong></h4>
    <h5 style="color: aqua;">2020 - 2021</h5>
    <p>Etant une étudiant developpement mobile j'ai travaillé sur les applications Android
      IOS en utilisant des langages tels java,kotlin et swift.J'ai collaboré avec Des équipes
    multidisciplinaire pour concevoir et implémenter des fonctionnalité; En mesurant de respecter  
  les normes de qualité et de sécurité </p>
    <h4><strong>Assistante de Recherche à l'UVS</strong></h4>
    <h5 style="color: aqua;">2021 - 2022</h5>
    <p>Collecte de données et analyse statistique pour un projet de recherche en cour, Démontrant des
      compétences analystiques avancées . Rédaction de rapports de Recherche détails et les implications
      potentielles collaboration étroit avec le Corps proffesoral pour comprendre les exigences du projets
    </p>
    <h4><strong>Charge de Communication pour l'Association des Etudiants en Informatique</strong></h4>
    <h5 style="color: aqua;">2022 - 2023</h5>
    <p>Organisation d'événements et de sémiaires pour promouvoir la Communication Informatique
      Gestion des plateforms de  médias sociaux et création de contenu Engageant,renforçant la visibilité de l'Association
      Développement de Compétences en Communication  interpersonnelle et gestion d'événements
    </p>
</div>
</div>
</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Experience</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-footer class="pied">
  <ion-toolbar>
    <ion-title>
      <p> @copyrigt 2023 Les trios.Tous droits réserves</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
