<ion-header [translucent]="true">
  <ion-toolbar>
    
    <div class="page">
      <img src="assets/images/logo.png" style="width: 50px;margin-top:  1em;">
    </div>
      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contact">
    <h1> <strong>  PORTFOLIO</strong></h1>
  <p>portfolio est une compilation organiser<br>
  et visuelle des travaux, des projets et <br >
  des réalisations personnes.Ils mettent en <br>
  valeur les compétences, les professionnelles<br>
  et les réalisations d'un individu dans un <br>
   domaine spécifique.</p>
   <div class="email">
    <h1><strong>CONTACTEZ-NOUS</strong> </h1>
    <P class="color"><img src="assets/images/png-clipart-icon-email-email-miscellaneous-angle-thumbnail.png" style="width: 30px"> EMAIL: maymounaaba98@gmail.com</P>
    <p class="taile"><img src="assets/images/5a4525b2546ddca7e1fcbc82.png" style="width: 20px"> TEL : +221 77 778-78-87 </p>
    <P style="margin-left: 120px;"><strong>+info</strong></P>
   </div>
</div>
<section class="contact-section">
  <div class="contact-card">
    <img src="assets/images/Snapchat-345559997.jpg" alt="Image 1" style="border-radius: 50%; width: 300px; height: 300px;">
    <h2 class="h2">Maimouna Ba</h2>
    <p>Email: maimouna.ba6@unkch.edu.sn</p>
    <p>Phone: +221-77-776-82-59</p>
  </div>
  <div class="contact-card">
    <img src="assets/images/IMG-20231213-WA0005.jpg" alt="Image 2"style="border-radius: 50%; width: 300px; height: 300px;">
    <h2 class="h2">Aida Fall</h2>
    <p>Email: aida.fall8@unkch.edu.sn</p>
    <p>Phone: +221 78-547-88-95</p>
  </div>
  <div class="contact-card">
    <img src="assets/images/IMG-20231213-WA0006.jpg" alt="Image 3"style="border-radius: 50%; width: 300px; height: 300px;">
    <h2 class="h2">Ndeye Fatoumata Faye </h2>
    <p>Email: Ndeyefatoumata.faye@unkch.edu.sn                                                                                                                                                                                                        ple.com</p>
    <p>Phone: +221 78-547-88-95</p>
  </div>
</section>
</ion-content>
<ion-footer class="pied">
  <ion-toolbar>
    <ion-title>
      <p style="text-align: center"> @copyrigt 2023 Les trios.Tous droits réserves</p>
    </ion-title>
  </ion-toolbar>  
</ion-footer>
