<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/images/logo.png" style="width: 50px">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="background-color: bisque;height: 100%;">
    <div class="eventail">
      
  <ion-title style="text-align: center;margin-top: -0em"><strong> FORMATION</strong></ion-title>
  <section class="education">
    <div class="horizontal-line">
    <div class="education-item">
      <p class="degree">Attestation en licence 3 informatique de developpement d'application</p>
      <p class="school">Université Numérique Cheikh Hamidou Kane</p>
      <p class="date">Année:2023-2024</p>
    </div>
    </div>
    <br>
    <hr>

    <div class="education-item">
      <p class="degree">Formation en infographie</p>
      <p class="school">Centre de rechercher et d'essai de bango</p>
      <p class="date">Année : 2022-2023</p>
    </div>
    <br>
    <hr>
  </section><section class="education">
    <div class="education-item">
      <p class="degree">Formation en burautique</p>
      <p class="school">Centre de rechercher et d'essai de bango</p>
      <p class="date">Année : 2022-2023</p>
    </div>
    <br>
    <hr>

    <div class="education-item">
      <p class="degree">Formation en maintenance</p>
      <p class="school">Centre de rechercher et d'essai de bango</p>
      <p class="date">Année : 2022-2023</p>
    </div>
   
  </section>
</div>
</div>
</ion-content>

<ion-footer class="pied">
  <ion-toolbar>
    <ion-title>
      <p> @copyrigt 2023 Les trios.Tous droits réserves</p>
    </ion-title>
  </ion-toolbar>
    
</ion-footer>
