<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/images/logo.png" style="width: 50px">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="interests">
    <h2 style="margin-top: -0.1em;"> <strong>Centre d'intérêt</strong> </h2>
    <div class="interests">
      <i class="fas fa-code"></i>
    <h3>Développement Mobile</h3>
    <p>Passionné par la création de site mobile interactif et innovants</p>
    <img src="assets/images/tof.jpg" style="border-radius: 1000% ; width: 300px; height: 300px;">
    </div>
    <br>
    <div class="interests">
    <i class="fas  fa-paint-brush"></i>
    <h3> la cuisine </h3>
    <P>exploration des cultures étrangers à travers la cuisine :<br>
       cuisiner et découvrir des plats traditionnels de differents <br>
       pays pour mieux comprendre leurs coutumes et leur histoire.
    </P>
    <img src="assets/images/cuisine.jpg" style="border-radius: 50% ; width: 300px; height: 300px;">
    <br>
    <div class="interests">
      <i class="fas  fa-paint-brush"></i>
      <h3> la lecture </h3>
      <P>étant passionnée par la lecture, elle m'apporte du reconfort,<br>
         de voyage ,de la connaissance et une multitude d'émotions.
      </P>
      <img src="assets/images/roma.jpg" style="border-radius: 50% ;width: 300px; height: 300px;">
    </div>
    <br>
    
    
  </div>
</div>

</ion-content>
<ion-footer class="pied">
  <ion-toolbar>
    <ion-title>
      <p class="title"> @copyrigt 2023 Les trios.Tous droits réserves</p>
    </ion-title>
  </ion-toolbar>
    
</ion-footer>
