<ion-header [translucent]="true" home-header>
  
  <nav id="navbar" class="navbar order-last order-lg-0">
  <img src="assets/images/logo.png" style="width: 50px">
  <div class="entete">
  <ul style="margin-top: -2em">
  <li><a href="#"><strong>Accueil</strong></a></li>
  <li><a href="formation"><strong>Formation</strong></a></li>
  <li><a href="experience"><strong>Expérience</strong></a></li>
  <li><a href="interet"><strong>Centre d'intérêt</strong></a></li>
  <li><a href="contact"><strong>Contact</strong></a></li>

</ul>
</div>
<i class="bi bi-list mobile-nav-toggle"></i>
  

</nav>
</ion-header>

<ion-content [fullscreen]="true" >
<div class="background-container">

</div>
  <ion-header collapse="condense">
    <ion-toolbar >
       
      
      <ion-title size="large">_blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/images/arrieneplan.jpg" width="600" height="600" style="margin-top: 6em ;margin-left: 990px">
    <img src="assets/images/OIP (3).jpg" width="500" height="500" style="margin-top: 12em ;margin-left: 130px">
    <div class="tri">
    <h1><strong>Les trios</strong></h1>
    <h3>Nous sommes des developpeuses</h3>
    <a href="nous"><button class="btn">sur moi</button></a>
  </div>
  </div>
</ion-content>
<ion-footer class="pied">
  <ion-toolbar>
    <ion-title>
      <p> @copyrigt 2023 Les trios.Tous droits réserves</p>
    </ion-title>
  </ion-toolbar>
    
</ion-footer>
