<ion-header [translucent]="true">
  <ion-toolbar>
  
<div class="page">
    <img src="assets/images/logo.png" style="width: 50px">
    <ul>
       <li><a href="#">Accueil</a></li>
      <li><a href="#">Formation</a></li>
      <li><a href="#">Expérience</a></li>
      <li><a href="#">Centre d'intérêt</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="background-container">
    
    <h1><strong>Curriculum vitae</strong> </h1>
  <p>Je m'applle Maimouna Diop.Je suis étudiante en  licence 3 developpement  <br>d'application mobile à l'université virtuelle du sénégal<br>.</p>
  <img src="assets/images/images2.jpg" width="400px" height="400px" style="margin-top: 6em ;margin-left: 100px;">
    <div class="nom">
  <p> NOM:  Ba</p><br> <br> 
    <p> PRENOM : Maimouna</p><br> <br> 
      <p> DATE : 17 Mars  2000</p><br> 
        <div class="un">
          <p > AGE:  20</p><br> <br> 
    <p> ADRESSE : Cité Saed</p><br> <br> 
      <p> EMAIL: maimounaba98@gmail.com</p><br> 
        </div>
</div>
<div class="deux">
  <p>Je suis passionné par la creation et le développement mobile,transformant des idées en expériences interactives.En tantque<br>
     développeur mobile.enthousiaste,je mets en oeuvre des solitions innovantes pour résoudre des probléme compléxes.
     mon parcours m'a parmis d'acquèrir des compétences en front-end et backend, ainsi qu'une comprehension holistique 
     du procéssus de developpemt web. Ma quete de connaissnces incessante me pousse à rester à jour avec les dernieres technologies et les meilleures pratiques.
  </p>
  </div>
  <h1 class="title"><strong>SKILLS</strong></h1>

  <div class="SKILLS">
    <div class="skill">
      <div class="skill-name">HTML</div>
      <div class="skill-bar"></div>
      <div class="skill-per" per="90"></div>
  <div class="skill">
    <div class="skill-name">CSS</div>
    <div class="skill-bar"></div>
    <div class="skill-per" per="70"></div>
  </div>
</div>
<div class="skill">
  <div class="skill-name">Javascrispt</div>
  <div class="skill-bar"></div>
  <div class="skill-per" per="60"></div>
</div>
</div>

</div>
  <ion-header collapse="condense">
    
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
</ion-content>
